{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
    <h1>Créer une annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('annonce_index') }}">Retour aux annonces</a>
{% endblock %}
